*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'outfit';
    background:linear-gradient(#85bbdf,#b36075);
}
.contect-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contect-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contect-left-titel h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}
.contect-left-titel hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contect-inputs{
    width: 400px;
    border: none;
    outline: none;
    padding: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contect-left textarea{
    height: 140px;
    padding: 15px;
    border-radius: 20px;
}
.contect-inputs:focus{
    border: 2px solid #ff994f;
}
.contect-inputs::placeholder{
    color: #a9a9a9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.j{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff994f,#fa6d86);
    cursor: pointer;
}
.j{
    text-decoration: none;
}
.contect-right img{
    width: 500px;
}
@media (max-width:700px) {
    .contect-inputs{
        width: 80vw;
    }
    .contect-right {
        display: none;
    }
}
